[Unit]
Description={{{ID}}} tezpay service
Wants=default.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=20

Environment="HOME={{{ROOT_DIR}}}"
# bellow files can be loaded from custom paths
# Environment="CONFIGURATION_FILE={{{ROOT_DIR}}}/config.hjson"
# Environment="PRIVATE_KEY_FILE={{{ROOT_DIR}}}/payout_wallet_private.key"
# Environment="REMOTE_SIGNER_CONFIGURATION_FILE={{{ROOT_DIR}}}/remote-signer.hjson"

ExecStart={{{ROOT_DIR}}}/bin/tezpay --path={{{ROOT_DIR}}} continual {{{configuration.STARTUP_ARGS__CLI_ARGS}}}

{{#model.SERVICE_CONFIGURATION__ARRAY}}
{{{key}}}={{{value}}}
{{/model.SERVICE_CONFIGURATION__ARRAY}}

[Install]
WantedBy=default.target
